.git
.github
.venv
env
venv

__pycache__
.pytest_cache
.mypy_cache
.ruff_cache

*.pyc
*.pyo
*.pyd

.env
.envrc
.streamlit/secrets.toml

data/raw
data/external
data/real
data/private

htmlcov
.coverage
coverage.xml

.DS_Store
Thumbs.db